*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f3f5f7;
}
.w{
	width: 1200px;
	margin: 0 auto;
}
input{
	outline: none;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table; 
  }
  .clearfix:after {
    clear:both;
  }
  .clearfix {
     *zoom:1;
  }   



.header{
		height: 42px;
		margin: 30px auto;
		
}
.logo{
	float: left;
	width: 198px;
	height: 42px;

}
.nav{
	float: left;
	margin-left: 60px;
}
.nav ul li{
	float: left;
	margin: 0 15px;
}
.nav ul li a{
	display: block;
	height: 42px;
	padding: 0 10px;
	line-height: 42px;
	font-size: 18px;
	color: #050505;
	
	
	
}
.nav ul li a:hover{
	border-bottom: 2px solid #00a4ff;
	color: #00A4FF;
}

.search{
	float: left;
	height: 42px;
	width: 412px;
	margin-left: 70px;
}
.search input{
	float: left;
	width: 345px;
	height: 40px;
	border: 1px solid #00A4FF;
	border-right: 0;
	color: #bfbfbf;
	font-size: 14px;
	padding-left: 15px;
	
}
.search button{
	float: left;
	width: 50px;
	height: 42px;
	background:url(images/btn.png);
	/* 按钮button默认有个边框需要我们手动去掉 */
	border: 0;
	
}
.user{
	 float: right;
	 line-height: 42px;
	 margin-right: 30px;
	 font-size:14px;
	 color: #666;
	 
}
.user img{
	vertical-align: middle;
}
/* banner区域 */
.banner{
	height: 421px;
	background-color: #1c036c;
}
.banner .w{
	height: 421px;
	background: url(images/banner2.png) no-repeat top center;
}
.subnav{
	float: left;
	width: 190px;
	height: 421px;
	  
	
}
.subnav  ul li {
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	
	
	
}
.subnav ul li a{
	font-size: 14px;
	color: #fff;
	
}
.subnav ul li a span{
	float: right;
}
.subnav ul li a:hover{
	color: #00A4FF;
	
}
.course{
	float: right;
	margin-top: 50px;
	width: 230px;
	height: 300px;
	background-color: #FFFFFF;
}
.course h2{
	width: 230px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	background-color: #9bceea;
	
}
.bd{
	padding: 0 20px;
	
}
.bd ul li{
	padding: 14px 0;
	border-bottom: 1px solid #ccc;
}
.bd ul li h4{
	font-size: 14px;
	color:#4e4e4e ;
} 
.bd ul li p{
	font-size: 12px;
	color: #a5a5a5;
}
.bd .more{
	display: block;
	height: 38px;
	border: 1px solid #00a4ff;
	margin-top: 5px;
	text-align: center;
	line-height: 38px;
	color:#00A4FF;
	font-size: 16px;
	font-weight: 700;
}
.goods{
	margin: 0 auto;
	height: 60px;
	background-color: #FFFFFF;
	margin-top: 10px;
	box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
	line-height: 60px;
	
}
.goods h3{
	float: left;
	margin-left: 30px;
	font-size: 16px;
	color: #00A4FF;
}
.goods ul{
	float: left;
	margin-left: 30px;
}
.goods ul li{
	float: left;
}
.goods ul li a{
	padding: 0 30px;
	font-size: 16px;
	border-left: 1px solid #CCC;
	color:#050505;  
}
.mod{
	font-size: 14px;
	color: #00A4FF;
	float: right;
	margin-right: 30px;
	
}

.box{
	margin-top: 30px;
}
.box-hd{
	height: 45px;
}
.box-hd h3{
	float: left;
	font-size: 20px;
	color: #494949;
}
.box-hd a{
	float: right;
	font-size: 12px;
	color: #A5A5A5;
	margin-top: 10px;
	margin-right: 30px;
}
.box-bd ul{
	width: 1225px;
}
.box-bd ul li{
	float: left;
	width: 228px;
	height: 270px;
	background-color: #fff;
	margin-right: 15px;
	margin-top: 15px;
}
.box-bd ul li img{
	width: 100%;
}
.box-bd ul li h4{
	margin: 20px 20px 20px 25px;
	font-size: 14px;
	color: #050505;
	font-weight: 400;
}
.box-bd .info{
	margin: 0px 20px 0px 25px;
	font-size: 12px;
	color: #999;

}
.box-bd .info span{
	color: #ff7c2d;
}
.footer{
	height: 415px;
	background-color: #fff;
	margin-top: 40px;
}
.footer .w{
	padding-top: 35px;
}
.copyright{
	float: left;
}

.copyright p{
	font-size: 12px;
	color: #666;
	margin: 20px 0 15px 0 ;
	
}
.copyright .app {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}
.links {
    float: right;
}
.links dl {
    float: left;
    margin-left: 100px;
}
.links dl dt {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}
.links dl dd a {
    color: #333;
    font-size: 12px;
}

.contents .header{
	height: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.header h4{
	float: left;
	font-size: 20px;
	font-weight: 400;
	margin-top: 0;
	margin-right: 280px;
}

.contents .header ul{
	float: left;
}
.contents .header ul li{
	float: left;
	margin-right: 70px;
}
.contents .header ul li a{
	font-size: 16px;
	color: #cccdce;
	line-height: 40px;
}
.contents .header ul li a:hover{
	color: #00A4FF;
}
.contents h5 a{
	float: right;
	margin-right: 32px;
	font-weight: 400;
	font-size: 12px;
	color: #A5A5A5;
}
 
.contents .ld{
	height: 395px;
	width: 229px;
	float: left;
}
.contents .rd{
	width: 960px;
	height: 395px;
	float: right;
}

.rd ul li{
	float: left;
	width: 227px;
	height: 271px;
	background-color: #FFFFFF;
	margin-top: 13px;
	margin-right: 15px;
}
.rd ul li img{
	width: 100%;
}
.rd  .last{
	margin-right:0 ;
}
.rd ul li h4{
	margin: 20px 20px 20px 25px;
	font-size: 14px;
	color: #050505;
	font-weight: 400;
}
.rd .info{
	margin: 0px 20px 0px 25px;
}
.rd .info a{
	font-size: 12px;
	color: #999999;
}
.rd .info span{
	color: #ff7c2d;
}